<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css">
<title>Hello</title>
</head>
<body>
<header>
    <div class="logo" style="background-image: url(./logo.jpg);">
    </div>
    <div class="flex">
        <div class="options">
            <button class="btn addnew"><a href="#">Add new</a></button>
        </div>
        <div class="user">
            <div class="avt" style="background-image: url(./avt.png);">
                <div class="tooltip">
                    <a href="#">Đăng Xuất</a>
                </div>
            </div>
            <a class="username" href="#a">Thế Anh</a>
        </div>
    </div>
    
</header>
<main>
    <div class="left">
        <ul class="list_items">
            <li class="sgl_item"><a href="#">HOME</a></li>
            <li class="sgl_item active"><a href="#">GROUP</a></li>
            <li class="sgl_item"><a href="#">BAC</a></li>
        </ul>
    </div>
    <div class="right">
        <h3 class="heading">Tạo nhóm mới</h3>
        <div class="group_">
            <form action="" class="child_flex-c">
                <div>
                    <label for="">Tên nhóm</label>
                    <input type="text" placeholder="Tên nhóm">
                </div>
                <div>
                    <label for="">Chuyên mục nhóm</label>
                    <select name="" id="">
                        <option value="0">Chuyên mục abc</option>
                    </select>
                </div>        
                <div>
                    <label for="">Tên nhóm</label>
                    <input type="text" placeholder="Tên nhóm">
                </div>
                <div class="_btn">
                    <button class="btn" type="submit">Tạo</button>
                    <button class="btn" type="submit"><a href="#">Hủy</a></button>
                </div>
            </form>
        </div>
    </div>

</main>
<footer>

</footer>
</body>
</html>