<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css">
<title>Hello</title>
</head>
<body>
<header>
    <div class="logo" style="background-image: url(./logo.jpg);">
    </div>
    <div class="flex">
        <div class="options">
            <button class="btn addnew"><a href="#">Add new</a></button>
        </div>
        <div class="user">
            <div class="avt" style="background-image: url(./avt.png);">
                <div class="tooltip">
                    <a href="#">Đăng Xuất</a>
                </div>
            </div>
            <a class="username" href="#a">Thế Anh</a>
        </div>
    </div>
    
</header>
<main>
    <div class="left">
        <ul class="list_items">
            <li class="sgl_item"><a href="#">HOME</a></li>
            <li class="sgl_item active"><a href="#">GROUP</a></li>
            <li class="sgl_item"><a href="#">BAC</a></li>
        </ul>
    </div>
    <div class="right">
        <h3 class="heading">Danh sách</h3>
        <div class="group_list">
            <div class="search">
                <form action="">
                    <input type="text" placeholder="Tên nhóm">
                    <button type="submit">Tìm kiếm</button>
                </form>           
            </div>
            <div class="menu">
               <ul>
                   <li><a href="#">Tạo nhóm mới</a></li>
               </ul> 
               <select name="" id="">
                   <option value="0" selected>Danh mục</option>
                   <option value="1">Danh mục abcsder</option>
               </select>
            </div>
            <h4 class="left-heading">Các nhóm đã tham gia</h4>
            <div class="list">
                <div class="items">
                    <div class="info">
                        <span>TÊN NHÓM: <strong>ABC</strong></span>
                        <span>SỐ LƯỢNG: <strong>ABC</strong></span>
                        <span>Ngày tạo: <strong>ABC</strong></span>
                        <span>Người tạo: <a href="#">ABC</a> </span>
                    </div>
                    <div class="_options">
                        <button class="btn"><a href="#">Tham gia</a></button>
                    </div>
                </div>
                <div class="items">
                    <div class="info">
                        <span>TÊN NHÓM: <strong>ABC</strong></span>
                        <span>SỐ LƯỢNG: <strong>ABC</strong></span>
                        <span>Ngày tạo: <strong>ABC</strong></span>
                        <span>Người tạo: <a href="#">ABC</a> </span>
                    </div>
                    <div class="_options">
                        <button class="btn"><a href="#">Xem nhóm</a></button>
                        <button class="btn"><a href="#">Sửa nhóm</a></button>
                        <button class="btn"><a href="#">Xóa nhóm</a></button>
                        <button class="btn"><a href="#">Rời nhóm</a></button>
                    </div>
                </div>
            </div>
            <h4 class="left-heading">Các nhóm chưa tham gia</h4>
            <div class="list">
                <div class="items">
                    <div class="info">
                        <span>TÊN NHÓM: <strong>ABC</strong></span>
                        <span>SỐ LƯỢNG: <strong>ABC</strong></span>
                        <span>Ngày tạo: <strong>ABC</strong></span>
                        <span>Người tạo: <a href="#">ABC</a> </span>
                    </div>
                    <div class="_options">
                        <button class="btn"><a href="#">Tham gia</a></button>
                    </div>
                </div>
                <div class="items">
                    <div class="info">
                        <span>TÊN NHÓM: <strong>ABC</strong></span>
                        <span>SỐ LƯỢNG: <strong>ABC</strong></span>
                        <span>Ngày tạo: <strong>ABC</strong></span>
                        <span>Người tạo: <a href="#">ABC</a> </span>
                    </div>
                    <div class="_options">
                        <button class="btn"><a href="#">Tham gia</a></button>
                    </div>
                </div>
                <div class="items">
                    <div class="info">
                        <span>TÊN NHÓM: <strong>ABC</strong></span>
                        <span>SỐ LƯỢNG: <strong>ABC</strong></span>
                        <span>Ngày tạo: <strong>ABC</strong></span>
                        <span>Người tạo: <a href="#">ABC</a> </span>
                    </div>
                    <div class="_options">
                        <button class="btn"><a href="#">Tham gia</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>