<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css">
<title>Hello</title>
</head>
<body>
<header>
    <div class="logo" style="background-image: url(./logo.jpg);">
    </div>
    <div class="flex">
        <div class="options">
            <button class="btn addnew"><a href="#">Add new</a></button>
        </div>
        <div class="user">
            <div class="avt" style="background-image: url(./avt.png);">
                <div class="tooltip">
                    <a href="#">Đăng Xuất</a>
                </div>
            </div>
            <a class="username" href="#a">Thế Anh</a>
        </div>
    </div>
    
</header>
<main>
    <div class="left">
        <ul class="list_items">
            <li class="sgl_item"><a href="#">HOME</a></li>
            <li class="sgl_item active"><a href="#">GROUP</a></li>
            <li class="sgl_item"><a href="#">BAC</a></li>
        </ul>
    </div>
    <div class="right">
        <h3 class="left-heading">tên bài viết</h3>
        <div class="post_list">
            <h4 class="left-heading">
                <p>Đăng bởi <span>ABC</span> vào lúc <span>123</span>
                </p>
                <p>Chuyên mục <span>ABC</span>
                </p>
            </h4>
            <div class="list">
                <div class="items sgl_post">
                    <p>
                        <span class="_content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</span></p>

                </div>
                <form action="" class="_cmt">
                    <textarea name="comment" id="" cols="30" rows="5"></textarea>
                    <button type="submit" class="btn">Bình luận</button>
                </form>
                <div class="list_comment">
                    <div class="sgl_cmt">
                        <p><strong>Tên</strong> vào lúc <strong>123</strong></p>
                        <p>Noi dung</p>
                    </div>
                    <div class="sgl_cmt">
                        <p><strong>Tên</strong> vào lúc <strong>123</strong></p>
                        <p>Noi dung</p>
                    </div>
                    <div class="sgl_cmt">
                        <p><strong>Tên</strong> vào lúc <strong>123</strong></p>
                        <p>Noi dung</p>
                    </div>
                    <div class="sgl_cmt">
                        <p><strong>Tên</strong> vào lúc <strong>123</strong></p>
                        <p>Noi dung</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>