<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <title>Hello</title>
</head>

<body>
    <header>
        <div class="logo" style="background-image: url(./logo.jpg);">
        </div>
        <div class="flex">
            <div class="options">
                <button class="btn addnew"><a href="#">Add new</a></button>
            </div>
            <div class="user">
                <div class="avt" style="background-image: url(./avt.png);">
                    <div class="tooltip">
                        <a href="#">Đăng Xuất</a>
                    </div>
                </div>
                <a class="username" href="#a">Thế Anh</a>
            </div>
        </div>

    </header>
    <main>
        <div class="left">
            <ul class="list_items">
                <li class="sgl_item"><a href="#">Tổng quan</a></li>
                <li class="sgl_item"><a href="#">Quản lý GROUP</a></li>
                <li class="sgl_item "><a href="#">Quản lý User</a></li>
                <li class="sgl_item active"><a href="#">Quản lý Bài viết</a></li>
                <li class="sgl_item"><a href="#">Quản lý Bài giảng</a></li>
                <li class="sgl_item"><a href="#">Quản lý Phân quyền</a></li>
            </ul>
        </div>
        <div class="right">
            <h3 class="heading space">Quản lý bài viết</h3>
            <div class="_list">
                <h4 class="left-heading">Tổng số: 123</h4>
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Người tạo</th>
                        <th>Ngày tạo</th>
                        <th>Group</th>
                        <th>Hành động</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>Maria Anders</td>
                        <td>Abc</td>
                        <td>Abc</td>
                        <td>A</td>
                        <td><a href="#" id="">Chi tiết</a> | <a href="#">Sửa</a> | <a href="#">Xóa</a></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>Maria Anders</td>
                        <td>Abc</td>
                        <td>Abc</td>
                        <td>A</td>
                        <td><a href="#" id="">Chi tiết</a> | <a href="#">Sửa</a> | <a href="#">Xóa</a></td>
                    </tr>
                </table>
                <ul class="paging">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>